<div class="searched-text-layout"> 
  
    <div class="carder">
<div class="card-headers card-header-success card-top-selling">
<div class="card-item-layout">
<i class="material-icons pe-7s-search"></i>
<span>Search Data</span>
</div>
</div>
<div class="carder-body table-responsive-items">
<div *ngIf="showData.size <1" style="margin:2%; width:90%;text-align:center;font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 22px;" ><i class="pe-7s-attention" style="font-size: x-large;
margin-right: 1%;"></i> No Content Available</div>
<table class="carder-table" *ngIf="showData.size >0">

<thead >
<th>Name</th>
<th>Mobile No</th>
<th>Edit</th>
</thead>
<tbody>

<tr *ngFor="let item of showData | keyvalue ;let i = index;" style="font-family: 'Fira Sans Extra Condensed', sans-serif;">
<td>{{item.value.name}}
  </td>
<td>{{item.value.mobileNo}}</td>
<td (click)="editData(item)"><i style="color: #43a047;font-size: x-large;" class="pe-7s-config checkicon"></i></td>
</tr>

</tbody>
</table>
</div>
</div>
    </div>
